<h2>@Translate("Search result for") "@GetString("DwSearchPhrase")": @GetString("DwSearchResults")</h2>
@GetString("DwSearchResultList")
<div class="u-pull--left">@Translate("Page") @GetString("DwSearchResultPage") @Translate("of") @GetString("DwSearchResultPages")</div>
<div class="u-pull--right">@GetString("DwSearchResultBack") @GetString("DwSearchResultPageList") @GetString("DwSearchResultForward")</div>
<div class="u-clearfix"></div>