@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    string pageId = GetGlobalValue("Global:Page.ID");
}

<div class="grid grid--justify-center">
    <div class="grid__col-md-6 grid__col--bleed">
        <h2 class="u-no-margin u-margin-bottom">@Translate("Reset your password")</h2>

        @if (GetString("UserManagement:User.Login.Action") == "Recovery")
        {
            <form method="post" action="/Default.aspx?id=@pageId">
                <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
                <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
                <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />
                <div class="u-margin-bottom">@Translate("Insert your email below and you will receive an email where you can recover your password.")</div>
                <div class="form__field-group dw-mod">
                    @foreach (LoopItem loginField in GetLoop("UserManagement:User.Login.Fields"))
                    {
                        <label for="@loginField.GetString("Field.Name")">@loginField.GetString("Field.Title")</label>
                        <input type="text" name="@loginField.GetString("Field.Name")" id="@loginField.GetString("Field.Name")" class="u-full-width" />
                        <div class="field-error dw-mod" for="@loginField.GetString("Field.Name")">@loginField.GetString("Field.Error")</div>
                    }

                    @if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Login.FoundUsersCount")))
                    {
                        if (GetInteger("UserManagement:User.Login.FoundUsersCount") == 0 || GetInteger("UserManagement:User.Login.FoundUsersCount") > 1)
                        {
                            <div class="field-error dw-mod">
                                @Translate("User not found.")
                            </div>
                        }
                    }
                </div>

                <button type="submit" name="LoginAction" value="Recovery" class="btn btn--primary dw-mod" onclick="Buttons.LockButton(event)">@Translate("Send password recovery")</button>
            </form>
        }

        @if (GetString("UserManagement:User.Login.Action") == "RecoveryLinkSent")
        {
            @Translate("Check your email - we sent you an email with a link. Click it to continue to reset your password.")
        }

        @if (GetString("UserManagement:User.Login.Action") == "PasswordSent")
        {
            @Translate("Check your email - we sent you an email with the password.")
        }

        @if (GetString("UserManagement:User.Login.Action") == "NewPasswordForm")
        {
            if (!GetBoolean("UserManagement:User.Login.RecoveryToken.FoundUser"))
            {
                <div class="error-block dw-mod">
                    @Translate("Something went wrong.")
                    @Translate("Try recover password") <a href="/default.aspx?id=@GetString("Global:Page.ID")">@Translate("again")<text>.</text></a>
                </div>
            }

            if (GetBoolean("UserManagement:User.Login.RecoveryToken.FoundUser") && GetBoolean("UserManagement:User.Login.RecoveryToken.OutOfDate"))
            {
                <div class="error-block dw-mod">
                    @Translate("The recovery password link out of date.") @Translate("Try recover password") <a href="/default.aspx?id=@GetString("Global:Page.ID")">@Translate("again")<text>.</text></a>
                </div>
            }

            if (GetBoolean("UserManagement:User.Login.RecoveryToken.FoundUser") && !GetBoolean("UserManagement:User.Login.RecoveryToken.OutOfDate"))
            {
                <div>
                    @Translate("Choose a new password")<text>.</text>
                </div>
                <div>
                    @Translate("Notice")! @Translate("A strong password is a combination of letters and punctuation marks")<text>.</text>
                </div>

                <p></p>

                <form method="post" action="/Default.aspx?id=@pageId">
                    <input type="hidden" name="RecoveryToken" value="@GetString("UserManagement:User.Login.RecoveryToken")" />
                    <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetString("UserManagement:User.Login.EmailTemplate")" />
                    <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetString("UserManagement:User.Login.EmailSender")" />
                    <input type="hidden" name="ForgotPasswordMailSubject" value="@GetString("UserManagement:User.Login.EmailSubject")" />

                    <label class="title" for="@GetString("UserManagement:User.Login.Field.NewPassword.Name")">@Translate("New password"):</label>
                    @GetString("UserManagement:User.Login.Field.NewPassword.Input").Replace("id", "class=\"u-full-width\" id")
                    <div class="field-error dw-mod" for="@GetString("UserManagement:User.Login.Field.NewPassword.Name")">@GetString("UserManagement:User.Login.Field.NewPassword.Error")</div>

                    <label class="title" for="@GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Name")">@Translate("Confirm password"):</label>
                    @GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Input").Replace("id", "class=\"u-full-width\" id")
                    <div class="field-error dw-mod" for="@GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Name")">@GetString("UserManagement:User.Login.Field.NewPasswordConfirm.Error")</div>

                    <button type="submit" class="btn btn--primary dw-mod" name="LoginAction" value="ChangePassword">@Translate("Submit")</button>
                </form>
            }
        }

        @if (GetString("UserManagement:User.Login.Action") == "PasswordChanged")
        {
            @Translate("Password changed")<text>.</text>
        }
    </div>
</div>
