@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System.Linq;

@{
    int createProfilePageId = GetPageIdByNavigationTag("CreateAccount");
    var errorsByFieldName = GetLoop("FormValidationErrors").GroupBy(x => x.GetString("UserManagement:User.FormValidationError.FieldName"), x => x.GetString("UserManagement:User.FormValidationError.Message"));

}

@helper  DisplayErrors(IEnumerable<IGrouping<string, string>> errorsByFieldName, string fieldName)
{
    string forgotPasswordPageId = GetPageIdByNavigationTag("SignInPage").ToString() + "&LoginAction=Recovery";
    var errors = errorsByFieldName.FirstOrDefault(x => x.Key == fieldName);

    if (errors != null)
    {
        foreach (string error in errors)
        {
            if (error != "User with specified email exists.") {
                <div class="field-error dw-mod">@error</div>
            } else {
                <div class="field-error dw-mod">@Translate("You already exist in our system click below to reset your password")</div>
                <a href="/default.aspx?ID=@forgotPasswordPageId" class="btn btn--secondary dw-mod">@Translate("Reset password")</a>
            }
        }
    }
}

@if (!String.IsNullOrEmpty(GetString("error"))) {
    @GetString("error")
}


<div class="grid grid--justify-center">
    <div class="grid__col-md-6 grid__col--bleed">
        <h2 class="u-no-margin u-margin-bottom">@Translate("Create user account")</h2>

        <form name="UserManagementEditForm" id="UserManagementEditForm" method="post" action="/Default.aspx?ID=@createProfilePageId">
            <input type="hidden" name="UserManagementForm" value="1">

            <div class="form__field-group dw-mod">
                <label for="UserManagement_Form_Name">@Translate("Name")</label>
                <input type="text" class="u-full-width" name="UserManagement_Form_Name" id="UserManagement_Form_Name" value="@GetString("UserManagement:User.Name")" required />
                @DisplayErrors(errorsByFieldName, "UserManagement_Form_Name")                   
            </div>

            <div class="form__field-group dw-mod">
                <label for="UserManagement_Form_Email">@Translate("Email")</label>
                <input type="email" class="u-full-width" name="UserManagement_Form_Email" id="UserManagement_Form_Email" value="@GetString("UserManagement:User.Email")" required />
                @DisplayErrors(errorsByFieldName, "UserManagement_Form_Email")
            </div>

            <div class="form__field-group dw-mod">
                <label for="UserManagement_Form_NewPassword">@Translate("Password")</label>
                @GetString("UserManagement:User.NewPassword.Input").Replace("input ", "input class=\"u-full-width\"") 
                @DisplayErrors(errorsByFieldName, "UserManagement_Form_NewPassword")
            </div>
                
            <div class="form__field-group dw-mod">
                <label for="UserManagement_Form_NewPasswordConfirm">@Translate("Confirm password")</label>
                @GetString("UserManagement:User.NewPasswordConfirm.Input").Replace("input ", "input class=\"u-full-width\"")
                @DisplayErrors(errorsByFieldName, "UserManagement_Form_NewPasswordConfirm")
            </div>

            <button type="submit" class="btn btn--primary dw-mod" id="submitter" onclick="Buttons.LockButton(event)">@Translate("Create your new account")</button>
        </form>
    </div>
</div>
