@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Extensibility
@using Dynamicweb.Content
@using System
@using System.Web

@{ 
    string cartPageId = GetPageIdByNavigationTag("CartPage").ToString();
    string ordersPageId = GetPageIdByNavigationTag("CustomerOrders").ToString();
    string quotesPageId = GetPageIdByNavigationTag("QuotesPage").ToString();
    string favoritesPageId = GetPageIdByNavigationTag("CustomerFavorites").ToString();
    string profilePageId = GetPageIdByNavigationTag("CustomerProfile").ToString();
    string savedCardsPageId = GetPageIdByNavigationTag("SavedCards").ToString();
    string recurringOrdersPageId = GetPageIdByNavigationTag("RecurringOrders").ToString();

    string favoriteIcon = Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetString("FavoriteIcon") != null ? "fas fa-" + Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetList("FavoriteIcon").SelectedValue : "fas fa-star";
    string cartIcon = Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetString("CartIcon") != null ? Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetList("CartIcon").SelectedValue : "fas fa-shopping-cart";
    string userIcon = Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetString("SignInProfileIcon") != null ? Pageview.AreaSettings.GetItem("Layout").GetItem("Icons").GetList("SignInProfileIcon").SelectedValue : "fas fa-user";
}


<div class="grid grid--external-bleed-x">
    @if (profilePageId != "0")
    {
    <div class="grid__col-md-auto">
        <a href="/Default.aspx?ID=@profilePageId" class="widget u-brand-color-two--bg-darken-20">
            <div class="u-center-middle u-color-light">
                <i class="@userIcon widget__icon"></i>
                <div class="widget__title">@Translate("My profile")</div>
            </div>
        </a>
    </div>
    }

    @if (favoritesPageId != "0")
    {
    <div class="grid__col-md-auto">
        <a href="/Default.aspx?ID=@favoritesPageId" class="widget u-brand-color-two--bg-darken-10">
            <div class="u-center-middle u-color-light">
                <i class="@favoriteIcon widget__icon"></i>
                <div class="widget__title">@Translate("My favorites")</div>
            </div>
        </a>
    </div>
    }

    @if (quotesPageId != "0")
    {
    <div class="grid__col-md-auto">
        <a href="/Default.aspx?ID=@quotesPageId" class="widget u-brand-color-two--bg">
            <div class="u-center-middle u-color-light">
                <i class="fas fa-quote-right widget__icon"></i>
                <div class="widget__title">@Translate("My quotes")</div>
            </div>
        </a>
    </div>
    }
</div>
<div class="grid grid--external-bleed-x">
    @if (cartPageId != "0")
    {
    <div class="grid__col-md-auto">
        <a href="/Default.aspx?ID=@cartPageId" class="widget u-brand-color-two--bg">
            <div class="u-center-middle u-color-light">
                <i class="@cartIcon widget__icon"></i>
                <div class="widget__title">@Translate("Shopping cart")</div>
            </div>
        </a>
    </div>
    }

    @if (ordersPageId != "0")
    {
    <div class="grid__col-md-auto">
        <a href="/Default.aspx?ID=@ordersPageId" class="widget u-brand-color-two--bg-lighten-10">
            <div class="u-center-middle u-color-light">
                <i class="fas fa-list widget__icon"></i>
                <div class="widget__title">@Translate("My orders")</div>
            </div>
        </a>
    </div>
    }

    @if (savedCardsPageId != "0")
    {
    <div class="grid__col-md-auto">
        <a href="/Default.aspx?ID=@savedCardsPageId" class="widget u-brand-color-two--bg-lighten-20">
            <div class="u-center-middle u-color-light">
                <i class="fas fa-credit-card widget__icon"></i>
                <div class="widget__title">@Translate("My saved cards")</div>
            </div>
        </a>
    </div>
    }

    @if (recurringOrdersPageId != "0")
    {
        <div class="grid__col-md-auto">
            <a href="/Default.aspx?ID=@recurringOrdersPageId" class="widget u-brand-color-two--bg-lighten-20">
                <div class="u-center-middle u-color-light">
                    <i class="fas fa-calendar widget__icon"></i>
                    <div class="widget__title">@Translate("My recurring orders")</div>
                </div>
            </a>
        </div>
    }
</div>