@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@functions { 
    string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "...";
    }
}

<div class="grid__col-md-8 grid__col-sm-12 grid__col-xs-12 grid__col--bleed-x">
    <div class="grid">
        @foreach (LoopItem item in GetLoop("ItemPublisher:Items.List"))
        {
            string link = "/Default.aspx?ID=" + item.GetString("ItemPublisher:Item.Field.PageId");

            <div class="grid__col-md-4 grid__col-sm-4 grid__col-xs-12 grid__col-xxs-12">
                <a href="@link" class="flex-img">
                    <img src="/Admin/Public/GetImage.ashx?width=800&height=600&amp;crop=0&amp;Compression=75&amp;DoNotUpscale=0&amp;image=@item.GetString("ItemPublisher:Item.Image")" alt="@item.GetString("ItemPublisher:Item.Title")" class="u-no-margin" />
                </a>
            </div>
            <div class="grid__col-md-8 grid__col-sm-8 grid__col-xs-12 grid__col-xxs-12">
                <a href="@link"><h2 class="article__header u-truncate-text dw-mod">@item.GetString("ItemPublisher:Item.Title")</h2></a>
                <small class="article__subscription dw-mod">
                    @if (!(string.IsNullOrWhiteSpace(item.GetString("ItemPublisher:Item.Author")) && string.IsNullOrWhiteSpace(item.GetString("ItemPublisher:Item.Date"))))
                    {
                        <text>@Translate("Written")</text>
                    }
                    @if (!string.IsNullOrWhiteSpace(item.GetString("ItemPublisher:Item.Author")))
                    {
                        <text>@Translate("by") @item.GetString("ItemPublisher:Item.Author")</text>
                    }
                    @if (!string.IsNullOrWhiteSpace(item.GetString("ItemPublisher:Item.Date")))
                    {
                        <text>@Translate("on") @item.GetDate("ItemPublisher:Item.Date").ToString("dd.MM.yyyy, HH:mm")</text>
                    }
                </small>

                <p class="article__short-summary dw-mod">@Truncate(item.GetString("ItemPublisher:Item.Summary"), 120)</p>

                <div class="grid__cell-footer">
                    <a href="@link" class="btn btn--secondary u-no-margin dw-mod">@Translate("Read more")</a>
                </div>
            </div>
        }
    </div>
</div>
<div class="grid__col-12 u-margin-top">
    <div class="pager">
        <div class="pager__info">
            @Translate("Page") @GetString("ItemPublisher:Items.Paging.CurrentPage") @Translate("of") @GetString("ItemPublisher:Items.Paging.TotalPages")
        </div>
        <ul class="pager__list">
            @if (GetString("ItemPublisher:Items.Paging.PrevPage") != "#")
            {
                <li class="pager__btn">
                    <a href="@GetString("ItemPublisher:Items.Paging.PrevPage")" class="pager__num dw-mod"><i class="fas fa-angle-left"></i></a>
                </li>
            }

            @foreach (LoopItem page in GetLoop("ItemPublisher:Items.Paging.Pages"))
            {
                bool isActive = page.GetBoolean("ItemPublisher:Items.Paging.Pages.Page.IsCurrent");
                <li class="pager__btn">
                    @if (isActive)
                    {
                        <span class="pager__num pager__num--current dw-mod">
                            @page.GetString("ItemPublisher:Items.Paging.Pages.Page.Number")
                        </span>
                    }
                    else
                    {
                        <a href="@page.GetString("ItemPublisher:Items.Paging.Pages.Page.Url")" class="pager__num dw-mod">
                            @page.GetString("ItemPublisher:Items.Paging.Pages.Page.Number")
                        </a>
                    }
                </li>
            }

            @if (GetString("ItemPublisher:Items.Paging.NextPage") != "#")
            {
                <li class="pager__btn">
                    <a href="@GetString("ItemPublisher:Items.Paging.NextPage")" class="pager__num dw-mod"><i class="fas fa-angle-right"></i></a>
                </li>
            }
        </ul>
    </div>
</div>