@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{ 
    var logoImage = "/Admin/Public/GetImage.ashx?width=200&amp;height=50&amp;crop=5&amp;Compression=75&amp;image=" + Pageview.AreaSettings.GetItem("Ecommerce").GetString("ReceiptLogoImage");
}

<div class="paragraph-container u-full-width">
    <div class="grid grid--border">
        <div class="grid__col-md-8 grid__col-sm-7 receipt__header dw-mod">
            <div class="u-margin receipt__logo dw-mod">
                <img src="@logoImage" alt="" />
            </div>
        </div>

        <div class="grid__col-md-4 grid__col-sm-5 receipt__header dw-mod">
            @if (GetBoolean("Ecom:Order.IsRecurringOrder"))
            {
                <p class="u-ta-right">@Translate("You have placed a subscription. This is a confirmation of the subscription not the actual order receipt.")</p>
            }
            <table class="table table--clean table--compact">
                <tr>
                    <td>@Translate("Quote number")</td>
                    <td>@GetString("Ecom:Order.ID")</td>
                </tr>
                <tr>
                    <td>@Translate("Quote date")</td>
                    <td>@GetDate("Ecom:Order.Date").ToString(Dynamicweb.Core.Helpers.DateHelper.DateFormatStringShort)</td>
                </tr>
            </table>
        </div>

        <div class="grid__col-12 grid__col--bleed">
            <table class="table table-responsive u-no-margin u-border-bottom">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>@Translate("Product")</th>
                        <th class="u-ta-right">@Translate("Qty")</th>
                        <th class="u-ta-right">@Translate("Price")</th>
                        <th class="u-ta-right">@Translate("Total")</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (LoopItem orderline in GetLoop("OrderLines"))
                    {
                        var image = "/Admin/Public/GetImage.ashx?width=60&height=60&crop=5&image=" + orderline.GetString("Ecom:Product.ImageDefault.Default.Clean");
                        <tr>
                            <td width="60">
                                @if (orderline.GetBoolean("Ecom:Order:OrderLine.IsProduct"))
                                {
                                    <img src="@image" alt="@orderline.GetString("Ecom:Order:OrderLine.ProductName")" />
                                }
                            </td>
                            <td>
                                <div>@orderline.GetString("Ecom:Order:OrderLine.ProductName")</div>
                                @if (orderline.GetBoolean("Ecom:Order:OrderLine.IsProduct"))
                                {
                                <div>#@orderline.GetString("Ecom:Order:OrderLine.ProductNumber")</div>
                                }
                                <div>@orderline.GetString("Ecom:Order:OrderLine.UnitName")</div> 
                                <div>@orderline.GetString("Ecom:Order:OrderLine.ProductVariantText")</div> 
                            </td>
                            <td class="u-ta-right">@orderline.GetString("Ecom:Order:OrderLine.Quantity")</td>
                            <td class="u-ta-right">@orderline.GetString("Ecom:Order:OrderLine.UnitPrice.PriceFormatted")</td>
                            <td class="u-ta-right">@orderline.GetString("Ecom:Order:OrderLine.Price.PriceFormatted")</td>
                        </tr>

                        foreach (LoopItem bomitem in orderline.GetLoop("BOMItems"))
                        {
                            image = "/Admin/Public/GetImage.ashx?width=60&height=60&crop=0&image=" + bomitem.GetString("Ecom:Product.ImageDefault.Default.Clean");

                            <tr class="active u-color-light-gray--bg">
                                <td width="60">
                                    <img src="@image" alt="@bomitem.GetString("Ecom:Order:OrderLine.ProductName.Short")" />
                                </td>
                                <td>@bomitem.GetString("Ecom:Order:OrderLine.ProductName.Short")</td>
                                <td class="u-ta-right">@bomitem.GetString("Ecom:Order:OrderLine.Quantity")</td>
                                <td class="u-ta-right">@bomitem.GetString("Ecom:Order:OrderLine.UnitPrice.PriceFormatted")</td>
                                <td class="u-ta-right">@bomitem.GetString("Ecom:Order:OrderLine.Price.PriceFormatted")</td>
                            </tr>
                        }
                    }

                    <tr>
                        <td colspan="4" class="u-ta-right">@Translate("Subtotal")</td>
                        <td class="u-ta-right">@GetString("Ecom:Order.PriceWithoutFees.PriceFormatted")</td>
                    </tr>

                    <tr>
                        <td colspan="4" class="u-ta-right">@Translate("VAT") @GetString("Ecom:Order.Price.VATPercentFormatted")</td>
                        <td class="u-ta-right">@GetString("Ecom:Order.Price.VATFormatted")</td>
                    </tr>
                    
                    <tr class="u-color-light-gray--bg">
                        <th colspan="4" class="u-ta-right">@Translate("Total with VAT")</th>
                        <th class="u-ta-right">@GetString("Ecom:Order.Price.PriceWithVATFormatted")</th>
                    </tr>
                </tbody>
            </table>

            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Comment")))
            {
                <div class="grid__col-12 u-color-light-gray--bg u-border-bottom">
                    <div class="grid">
                        <div class="grid__col-12">
                            <h2 class="u-no-margin">@Translate("Comment")</h2>
                            <div class="u-margin-bottom">@GetString("Ecom:Order.Customer.Comment")</div>
                        </div>
                    </div>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.HasUsedGiftCards")))
            {
                <h2 class="u-no-margin u-padding">@Translate("Order used gift cards")</h2>

                <table class="table table-responsive">
                    <tr>
                        <td>@Translate("Gift card name")</td>
                        <td>@Translate("Gift card code")</td>
                        <td>@Translate("Expiry date")</td>
                        <td class="u-ta-right">@Translate("Initial amount")</td>
                        <td class="u-ta-right">@Translate("Used amount")</td>
                        <td class="u-ta-right">@Translate("Remaining balance")</td>
                    </tr>

                    @foreach (LoopItem usedgiftcards in GetLoop("UsedGiftCards"))
                    {
                    <tr>
                        <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.Name")</td>
                        <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.Code")</td>
                        <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.ExpiryDate")</td>
                        <td class="u-ta-right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.InitialAmount")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.InitialAmount")</td>
                        <td class="u-ta-right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.UsedAmountForTheOrder")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.UsedAmountForTheOrder")</td>
                        <td class="u-ta-right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.RemainingBalance")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.RemainingBalance")</td>
                    </tr>
                    }
                </table>
            }

            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.HasGiftCards")))
            {
                <h2 class="u-no-margin u-padding">@Translate("Giftcards bought on this order")</h2>

                <table class="table table-cart">
                    <tr>
                        <td>@Translate("Gift card name")</td>
                        <td>@Translate("Gift card code")</td>
                        <td>@Translate("Expiry date")</td>
                        <td class="u-ta-right">@Translate("Gift card amount")</td>
                    </tr>

                    @foreach (LoopItem giftcards in GetLoop("GiftCards"))
                    {
                    <tr>
                        <td>@giftcards.GetString("Ecom:Order.GiftCard.Name")</td>
                        <td>@giftcards.GetString("Ecom:Order.GiftCard.Code")</td>
                        <td>@giftcards.GetString("Ecom:Order.GiftCard.ExpiryDate")</td>
                        <td class="u-ta-right" title="@giftcards.GetString("Ecom:Order.GiftCard.Amount")">@giftcards.GetString("Ecom:Order.GiftCard.Amount")</td>
                    </tr>
                    }
                </table>
            }
        </div>


        <div class="grid__col-12 u-color-light-gray--bg">
            <div class="grid">
                <div class="grid__col-auto">
                    <h5 class="u-no-margin"><i class="fas fa-home"></i> @Translate("Billing address")</h5>
                    <div class="grid__cell">
                        <div>@GetString("Ecom:Order.Customer.Company")</div>
                        <div>@GetString("Ecom:Order.Customer.Name")</div>
                        <div>@GetString("Ecom:Order.Customer.Address")</div>
                        <div>@GetString("Ecom:Order.Customer.Address2")</div>
                        <div>@GetString("Ecom:Order.Customer.Zip") @GetString("Ecom:Order.Customer.City"), @GetString("Ecom:Order.Customer.Country")</div>
                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Email")))
                        {
                            <div>@Translate("Email"): @GetString("Ecom:Order.Customer.Email")</div>
                        }
                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Phone")))
                        {
                            <div>@Translate("Phone"): @GetString("Ecom:Order.Customer.Phone")</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>