@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@MasterPageFile("../../EmailMaster.cshtml")
@Include("../../EmailHelpers.cshtml")

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">
    @RenderHeaderSection()
    @RenderMessage()
    @RenderFooterSection()
</table>

@* CONTENT HELPERS *@

@helper RenderHeaderSection()
{
    @RenderHeaderImage();
}

@helper RenderMessage()
{
    string companyName = !String.IsNullOrEmpty(GetString("Field.Companyname.Value")) ? ", " + GetString("Field.Companyname.Value") : "";

    Column message = new Column();
    message.subheader = Translate("Contact form submission");
    message.text.Add("");
    message.text.Add(Translate("Dear administrator"));
    message.text.Add("");
    message.text.Add(Translate("A new question has been sent:"));
    message.text.Add(GetString("Field.Question.Value"));
    message.text.Add("");
    message.text.Add(Translate("By the customer: "));
    message.text.Add(GetString("Field.Name.Value") + companyName);
    message.text.Add(GetString("Field.Phone.Value"));
    message.text.Add(GetString("Field.Email.Value"));
    @CreateRow(message);
}
